.h {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
}
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.v {
    height: 100vh;
}
.i {
    margin: 10%;
    display: block;
    padding: 5%;
    background-color: #91AA9D;
    border-radius: 5px;
}
a {
    text-decoration: none;
}
a:visited {
    color: #0000EE;
}
.l {
    display: block;
    background-color: #3E606F;
}